/* ########################################################################### */
/* Buttons */
/* ########################################################################### */

button,
.button,
.hs-button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: normal;
  transition: all 0.15s linear;
}

button:disabled,
.button:disabled,
.hs-button:disabled {
  background-color: #d0d0d0;
  border-color: #d0d0d0;
  color: #e6e6e6;
  cursor: not-allowed;
}

/* No Button Styling - for elements meant to look like plain text */

.no-button,
.no-button:hover,
.no-button:focus,
.no-button:active {
  background: none;
  border: none;
  border-radius: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  transition: none;
  outline: none;
}